* {
	padding: 0;
	margin: 0;
	outline: 0;
}

body {
	background-color: #FFF;
	font-size:20px;
}

header { 
	display: block;
	text-align: center;
	size: auto;
}

header img {
	width: 100%;
	min-width: 750px;
	height: auto;
	display: block;
}

nav {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    box-sizing: border-box;
    border-left: 9px solid hsl(45, 20%, 20%);
    border-bottom: 1px solid hsl(45, 20%, 75%);
    width: 100%;
	min-width: 750px;
	background-color: hsl(45, 100%, 70%);
	align-items: center;
	height: 40px;
	display: flex;
	justify-content: space-around;
}

nav a {
	padding: 5px 40px;
	text-align: center;
	vertical-align: middle;
	font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif;
}

nav a:link {
    text-decoration: none;
}

nav a:visited {
	color: #000;
    text-decoration: none;
}

nav a:hover {
	background-color: hsl(45, 100%,55%);
}

nav a:active {
    text-decoration: underline;
}

.wrapper {
	width: 85%;
	margin: auto;
}

.grid {
	display: grid;
	grid-template: 1fr/5fr 80% 3fr;
	margin-top: 80px;
}

.grid p {
	grid-column: 2/3;
	text-align: left;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

#favs img {
	padding: 80px 10% 0%;
	height: auto;
	width: auto;
	max-height: 40%;
	max-width: 40%;
	min-height: 20%;
	min-width: 20%;
}

.center {
	padding-left: 10%;
	min-width: 500px;
	font-family: "Bodoni", serif;
}

#intro {
}

.center article {
	padding-bottom: 100px;
}

.center h1 {
	color: 	hsl(45, 25%, 20%);
	padding-bottom: .5em;
}

.center h3 {
	color: 	hsl(45, 25%, 20%);
	padding-bottom: .5em;
}

.center p {
/*	letter-spacing: .04em;	*/	
	font-size: .95em;
	font-family: "Open-sans", sans-serif;
	text-align: justify;
}

#resume {
}

#resume iframe {
	display: block;
	margin: 0 auto;
    box-sizing: border-box;
	width:80%;
	min-width: 750px;
	height: 1036px;
}

#courses {
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-family: "Corbel";
}

#courses img {
	padding: 10px;
}

#gt div {
	padding: 10px;
	margin: 5px;
}

#byui div {
	padding: 10px;
	margin: 5px;
}

#courses ul {
	list-style-type: none;
}

#courses li {
	margin: 1px 0 1px 15px;
	border-bottom: 1px solid hsl(45, 0%, 75%);
	}

#gt {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gt-logo {
	max-width: 300px;
}

#gt #a {
	background-color: hsl(43, 46%, 58%)
}

#gt #b {
	background-color: hsl(43, 46%, 68%)
}

#gt #c {
	background-color: hsl(43, 46%, 78%)
}

#byui-logo {
	max-width: 300px;
	max-height: 140px;
}

#byui #a {
	background-color: hsl(204, 46%, 58%)
}

#byui #b {
	background-color: hsl(204, 46%, 68%)
}

#byui #c {
	background-color: hsl(204, 46%, 78%)
}

#byui {
	display: flex;
	flex-direction: column;
}